@model RaWMVC.Data.Entities.ReadingList

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
        Create Reading List
    </h1>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
<form asp-action="Create" id="createReadingListForm" enctype="multipart/form-data">
    <div class="modal-body">
        <div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReadingListsId" class="form-control" />
            <input type="hidden" asp-for="UserId" value="" />
            <div class="text-success text-uppercase fs-3">@TempData["MessageFail"] </div>
            <div id="errorMessage" class="text-danger"></div>
            <div class="input_details">
                <label class="input__label">Name</label>
                <input id="readingListName" asp-for="Name" class="input__field" type="text" required />
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button type="button"
            class="btn_cancel"
            data-bs-dismiss="modal">
        Close
    </button>
    <button type="button" onclick="createReadingList();" class="btn_save_storyD">
        Save changes
    </button>
</div>