<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
    <li>
        <a asp-controller="Tag" asp-action="Index">
            <i class="fa-solid fa-tags"></i>
            <span class="menu-title" data-i18n="Travel">Tag</span>
        </a>
    </li>
    <li class=" nav-item">
        <a asp-controller="Status" asp-action="Index">
            <i class="fa-solid fa-signal"></i>
            <span class="menu-title" data-i18n="Travel List">Status</span>
        </a>
    </li>
    <li class=" nav-item">
        <a asp-controller="Genre" asp-action="Index">
            <i class="fa-solid fa-layer-group"></i>
            <span class="menu-title" data-i18n="Travel Detail">Genre</span>
        </a>
    </li>
    <li class=" nav-item">
        <a asp-controller="Report" asp-action="ManageReports">
            <i class="fa-solid fa-flag"></i>
            <span class="menu-title" data-i18n="Payment Details">
                Report Story
            </span>
        </a>
    </li>
    <li class=" nav-item">
        <a asp-controller="User" asp-action="Index">
            <i class="fa-regular fa-address-card"></i>
            <span class="menu-title" data-i18n="Travel Booking">
                Account
            </span>
        </a>
    </li>
    <li class=" nav-item">
        <a asp-controller="Role" asp-action="Index">
            <i class="fa-solid fa-people-line"></i>
            <span class="menu-title" data-i18n="Payment Details">
                Role
            </span>
        </a>
    </li>
</ul>