@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<main style="margin-bottom: 5%;">
    <div class="profile_content">
        <div class="subnavigate d-flex">
            <partial name="_ManageNav" />
        </div>
        @RenderBody()
    </div>
</main>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
