@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div id="changePassword" class="main_content">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="change_password_container mt-5">
                <div class="top_page d-flex justify-content-between">
                    <h4 class="fw-bold">Change Password</h4>
                    <button type="button" class="btn">
                        Edit data
                        <i class="fa-solid fa-user-pen ms-2"></i>
                    </button>
                </div>
                <div class="current_pwd mt-3 w-50 ms-4">
                    <p class="fs-6 text fw-bold">Old password</p>
                    @* <input type="password" name="currentPwd" autocomplete="current-password" id="currentPwd"
                           aria-required="true" asp-for="Input.OldPassword" placeholder="Please enter your old password." /> *@

                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                </div>
                <div class="change_pwd d-flex mt-3 ms-4">
                    <div class="new_pwd w-50">
                        <p class="fs-6 text fw-bold">New password</p>
                        @* <input asp-for="Input.NewPassword" type="password" name="newPwd" id="newPwd"
                            autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." /> *@
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    </div>
                    <div class="confirmPwd w-50">
                        <p class="fs-6 text fw-bold">Confirm password</p>
                        @* <input asp-for="Input.ConfirmPassword" type="password" name="confirmPwd" id="confirmPwd"
                               aria-required="true" placeholder="Please confirm your new password." /> *@

                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn_save">Update Password</button>
        </form>
    </div>
</div>

@* <h3 class="text-center">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row text-center align-center">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
