@model List<RaWMVC.Data.Entities.Genre>

<table>
	<tr>
		<th width="10%">No.</th>
		<th width="20%">Name</th>
		<th width="40%">Description</th>
		<th width="30%">Action</th>
	</tr>

	@if (Model != null)
	{
		foreach (var genre in Model)
		{
			<tr>
				<td>@genre.Position</td>
				<td>@genre.genreName</td>
				<td>@genre.genreDescription</td>
				<td>
					<a href="~/Genre/Edit/?idGenre=@genre.genreId">Update</a>
				</td>
			</tr>
		}
	}
	else
	{
		<tr>
			<td colspan="3">Empty data</td>
		</tr>
	}
</table>