@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="authentication_container">
    <div class="container_authentication" id="container">

        @*** log in form ***@
        <div class="form-container sign-in-container">

            <form class="form_authentication"  id="account" method="post">
                <h1 class="title_authentication">sign in</h1>
                <div class="social-container">
                    <a href="#" class="social link_authentication">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social link_authentication">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="social link_authentication">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <span class="option_authentication">or use your account</span>
                @*** input email ***@
                <input asp-for="Input.UserName" class="inp_authentication" autocomplete="username" aria-required="true" placeholder="uername_123" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                @*** input password ***@
                <input asp-for="Input.Password" class="inp_authentication" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                @*** button form ***@
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <a id="forgot-password" asp-page="./forgotpassword" class="link_authentication">forgot your password?</a>
                <button id="login-submit" type="submit" class="btn_authentication">sign in</button>
            </form>
        </div>
        
        @*** background change ***@
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 class="title_authentication">
                        welcome back to our raw community!
                    </h1>
                    <img class="img_authentication"
                         src="~/assets/img/bg_authentication.png"
                         alt="" />
                    <a asp-page="./register" asp-route-returnurl="@Model.ReturnUrl" class="ghost link_signup" id="signup">sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}