@model RaWMVC.ViewModels.StatusViewModel

@{
    ViewData["Title"] = "Status Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var isCreate = Model == null || Model.StatusId == Guid.Empty;
    var actionString = isCreate ? "Create" : "Edit";
    var buttonString = isCreate ? "Create" : "Edit";
}

<h3 class="text-center fw-bold">Status Management</h3>
<hr />
<form asp-action="@actionString" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="StatusId" class="form-control" />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <label class="control-label">Name</label>
                    <fieldset class="form-group">
                        <input asp-for="StatusName" class="form-control" required />
                    </fieldset>
                    <span asp-validation-for="StatusName" class="text-danger"></span>
                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <label class="control-label">Description</label>
                    <fieldset class="form-group">
                        <textarea asp-for="StatusDescription" rows="3" class="form-control"></textarea>
                    </fieldset>
                    <span asp-validation-for="StatusDescription" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group" style="text-align: center;">
                <input type="submit" value="@buttonString" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6">
            <div id="status-list">
                @await Component.InvokeAsync("StatusList")
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function deleteStatus(idStatus) {
            $.ajax({
                type: 'POST',
                url: "/Status/Delete",
                data: {
                    idStatus
                },
                success: function (data) {
                    if (data.status) {
                        ReloadStatusList();
                    }
                },
                error: function (err) {

                },
                complete: function (e) {

                },
            });
        }
        function ReloadStatusList() {
            $.ajax({
                type: 'POST',
                url: "/Status/ReloadStatusList",
                success: function (data) {
                    let divStatusList = document.getElementById("status-list");
                    if (divStatusList) {
                        divStatusList.innerHTML = data;
                    }
                },
                error: function (err) {

                },
                complete: function (e) {

                },
            });
        }
    </script>
}
