@model List<RaWMVC.Data.Entities.Tag>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-content collapse show">
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Description</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							@if (Model != null)
							{
								foreach (var tag in Model)
								{
									<tr>
										<th scope="row">@tag.Position</th>
										<td>@tag.tagName</td>
										<td>@tag.tagDescription</td>
										<td>
											<a class="fs-4" href="~/Tag/Edit/?idTag=@tag.tagId">
												<i class="fa-solid fa-file-pen"></i>
											</a>
											<button class="btn btn-outline-primary" type="button" onclick="deleteTag('@tag.tagId')">
												<i class="fa-solid fa-eraser"></i>
											</button>
										</td>
									</tr>
								}
							}
							else
							{
								<tr>
									<td colspan="3">Empty data</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>