@model List<RaWMVC.Data.Entities.Status>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-content collapse show">
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Description</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							@if (Model != null)
							{
								foreach (var status in Model)
								{
									<tr>
										<th scope="row">@status.Position</th>
										<td>@status.StatusName</td>
										<td>@status.StatusDescription</td>
										<td>
											<a class="fs-4 btn btn-outline-primary" href="~/Status/Edit/?idStatus=@status.StatusId">
												<i class="fa-solid fa-file-pen"></i>
											</a>
											<a class="fs-4 btn btn-outline-danger" onclick="deleteStatus('@status.StatusId')">
												<i class="fa-solid fa-eraser"></i>
											</a>
										</td>
									</tr>
								}
							}
							else
							{
								<tr>
									<td colspan="3">Empty data</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>